[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
gunicorn = "*"
pytest = "*"
pytest-cov = "*"
werkzeug = "*"
flask-jwt-extended = "*"
psycopg2 = "*"

[dev-packages]
colorama = "*"

[requires]
python_version = "3.10"

[scripts]
init_db = "python init_db.py"
dev = "flask run -p ${PORT}"
start = "gunicorn app:app"
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
